<!doctype html>
<html lang="en">
{{$xsrf := .XsrfToken}}
{{$actionUrl := .ActionUrl}}

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="noindex, nofollow" />
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
  <link href="/assets/css/home.css" rel="stylesheet">
  <script src="/assets/js/jquery.min.js"></script>
  <title>{{.PageTitle}}</title>
</head>

<body class="bg-dark text-white">
  <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <img style="width: 50px;height: auto;" src="/assets/img/poem_logo.png" alt="Poem logo">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="justify-content-between collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/">{{.HomeTitle}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/categories">{{.CategoriesTitle}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/poems">{{.PoemsTitle}}</a>
          </li>
        </ul>
        <div class="d-flex dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
            data-bs-toggle="dropdown" aria-expanded="false">
            {{.UserEmail}}
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="/logout">{{.LogoutTitle}}</a></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
  <div class="container mt-4 mb-4">
    {{if .Message}}
    <div class="alert alert-danger" role="alert">
      {{.Message}}
    </div>
    {{end}}
    {{if .Categories}}
    <h2 class="mt-4 mb-4">Categories</h2>
    <ul class="mt-4 mb-4 list-group">
      {{range $index, $element := .Categories}}
      <li class="list-group-item">{{$element.Name}}
        <button type="button" class="btn btn-dager" data-bs-toggle="modal" data-bs-target="#deleteModal-{{$index}}">
          Delete
        </button>
        <div class="modal fade" id="deleteModal-{{$index}}" tabindex="-1" role="dialog"
          aria-labelledby="deleteModal-{{$index}}Label" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="deleteModal-{{$index}}Label">Are you sure?</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                Are you sure want to delete this category?
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <form method="POST" action="{{$actionUrl}}">
                  <input type="hidden" name="xsrf_token" value="{{$xsrf}}" />
                  <input type="hidden" name="category_id" value="{{$index}}" />
                  <input type="hidden" name="action" value="delete" />
                  <button type="submit" class="btn btn-danger">Delete category</button>
                </form>
              </div>
            </div>
          </div>
        </div>
        <button type="button" class="btn btn-dager" data-bs-toggle="modal" data-bs-target="#editModal-{{$index}}">
          Edit
        </button>
        <div class="modal fade" id="editModal-{{$index}}" tabindex="-1" role="dialog"
          aria-labelledby="editModal-{{$index}}Label" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <form method="POST" action="{{$actionUrl}}">
                <div class="modal-header">
                  <h5 class="modal-title" id="editModal-{{$index}}Label">Edit category</h5>
                  <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="form-group">
                    <label for="name">Category name</label>
                    <input type="text" class="form-control" name="name" id="name" value="{{$element.Name}}" autocomplete="off" placeholder="Enter category name">
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <input type="hidden" name="xsrf_token" value="{{$xsrf}}" />
                  <input type="hidden" name="category_id" value="{{$index}}" />
                  <input type="hidden" name="action" value="update" />
                  <button type="submit" class="btn btn-primary">Update category</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </li>
      {{end}}
    </ul>
    {{else}}
    <div class="alert alert-info" role="alert">
      No categories created yet. Please create first category.
    </div>
    {{end}}
    <form method="POST" action="{{$actionUrl}}">
      <h2>Create new category</h2>
      <div class="form-group">
        <label for="name">Category name</label>
        <input type="text" class="form-control" name="name" id="name" autocomplete="off" placeholder="Enter category name">
      </div>
      <input type="hidden" name="xsrf_token" value="{{$xsrf}}" />
      <input type="hidden" name="action" value="create" />
      <button style="margin: 1em 0;" type="submit" class="btn btn-primary">{{.SubmitButton}}</button>
    </form>
  </div>
  <footer class="footer">
    <div class="container-fluid">
      <p
        style="display: block;font-size: 12px;text-align: center;padding-top: 1em;border-top: 1px solid rgba(255,255,255,0.1);">
        {{.CopyrightText}}</p>
    </div>
  </footer>
  <script src="/assets/js/bootstrap.bundle.min.js" defer></script>
</body>

</html>