<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="index, follow" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/css/home.css" rel="stylesheet">
    <script src="/assets/js/jquery.min.js"></script>
    <title>Server Error | Poem CMS</title>
</head>

<body class="bg-dark text-white">
    <div class="container">
        <div class="alert alert-danger" role="alert">
            {{.}}
        </div>
    </div>
    <script src="/assets/js/bootstrap.bundle.min.js" defer></script>
</body>

</html>