<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="index, follow" />
  <meta name="description" content="Cloud-based CMS for poets and writers." />
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
  <link href="/assets/css/home.css" rel="stylesheet">
  <script src="/assets/js/jquery.min.js"></script>
  <title>{{.PageTitle}}</title>
</head>

<body class="bg-dark text-white">
  <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <img style="width: 50px;height: auto;" src="/assets/img/poem_logo.png" alt="Poem logo">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="justify-content-between collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">{{.HomeTitle}}</a>
          </li>
          <li class="nav-item mb-3 mb-md-0 ms-md-3 me-md-3">
            <a class="btn btn-primary" href="/login">{{.LoginTitle}}</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-danger" href="/register">{{.RegisterTitle}}</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container">
    <div
      style="margin-bottom: 2em;align-items: center;justify-content: space-evenly;display:flex; flex-wrap: wrap;gap: 10px;">
      <img style="width: 100%; max-width: 512px;" src="/assets/img/poem_logo.png" class="d-block w-100" alt="poem.dev logo">
      <div style="text-align: center;font-size: 2em;line-height: 1.5em;">
        Cloud-based CMS <br />for poets and writers
        <div
          style="margin-top: 2em;width: 100%;display: flex;flex-wrap: wrap;align-items: center;justify-content: center;gap: 20px;">
          <a href="/login" class="btn btn-success"
            role="button">{{.LoginTitle}}</a>
          <a style="margin: 1em 0;" href="/register" class="btn btn-danger"
            role="button">{{.RegisterTitle}}</a>
        </div>
      </div>
    </div>
  </div>
  <footer class="footer">
    <div class="container-fluid">
      <p
        style="display: block;font-size: 12px;text-align: center;padding-top: 1em;border-top: 1px solid rgba(255,255,255,0.1);">
        {{.CopyrightText}}</p>
    </div>
  </footer>
  <script src="/assets/js/bootstrap.bundle.min.js" defer></script>
</body>

</html>